
body{
  background-color: hsl(30, 38%, 92%);    
}
#container{
      display: flex;
      padding: 10em;
}
#container-1 img{
      height: 25em;
      width: 15em;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
}
#container-2{
      background-color: hsl(0, 0%, 100%);
      height: 25em;
      width: 15em;
      padding-left: 1.5em;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
}
#container-2 header{
      /* font-size: x-large; */
      font-family: Fraunces;
      color: hsl(212, 21%, 14%);
}
#container-2 p{
      font-size: 14px;
      font-family: Montserrat;
      color: hsl(228, 12%, 48%);
}
#container-2 p strong{
      font-size: large;
      font-family: Fraunces;
      color: hsl(158, 36%, 37%);
}
#container-2 button{
      background-color: hsl(158, 36%, 37%);
      height: 2.5em;
      width: 13em;
      border: none;
      border-radius: 10px;
      color: hsl(0, 0%, 100%);

}
#container-2 button:hover{
      background-color: hsl(159, 56%, 10%);
}
/* #container-2 button a{
      text-decoration: none;
      color: hsl(0, 0%, 100%);
} */
footer{
      font-family: Montserrat;
      text-align: center;
}
footer a{
      text-decoration: none;
}

/* styling for mobile */
@media only screen and (max-width: 600px) {
      body {
        width: 100%;
      }
      #container{
            display: block;
            padding: 0px;
            /* margin: 30px; */
      }
      /* #container-1{
            image: url(./images/image-product-mobile.jpg);

      } */
      #container-1 img{
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
 
      }
      #container-2{
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;

      }
    }
